/* :host {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}
*/
.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
}

h5 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
}

.post-date {
    color: #848383;
    font-size: 0.8em;
}

.card-img-top {
     position: relative;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    filter: blur(7px) brightness(0.6);
    z-index: -1; 
} 
.comment-section {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    font-size: 0.8rem;
}

.comment-text {
    color: #a8a8a8;
    font-size: 0.9em;
}

form {
    margin-top: 20px;
}

.comment-icon {
    top: 40px;
    right: 10px;
    color: #ffffff;
    font-size: 2em;
    cursor: pointer;
}

.btn-transparent {
    background: transparent;
    border: none;
    color: #9cb0c5;
    font-size: 0.8em;
}

.btn-transparent:hover,
.btn-transparent:focus {
    color: #9cb0c5; 
    text-decoration: underline;
    outline: none;
}