<app-navbar class="fixed-top"></app-navbar>
<div *ngIf="post">
  <div class="background-image" [style.backgroundImage]="'url(' + post.image + ')'"></div>
  <div class="post-container">
    <img [src]="post.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{post.title| titlecase}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p>Posted by {{post.author}} at <span class="post-date">{{ post.createdAt | date: 'dd/MM/yyyy' }}</span></p>
    </div>
  </div>
  <br><br>
</div>