<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Blog App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <!-- <h2 class="text-center">Sign Up</h2> -->
  <!-- <div class="text-center">
    <div class="g-signin2" data-onsuccess="onGoogleSignUp"></div>
  </div> -->
  <form (ngSubmit)="onSignup()" #registerForm="ngForm">
    <input name="name" [(ngModel)]="user.name" type="text" class="form-control" placeholder="Your name" required><br>
    <div class="alert alert-danger" *ngIf="registerForm.controls['name']?.touched && registerForm.controls['name']?.invalid">Your name is required!</div>

    <input name="email" [(ngModel)]="user.email" type="email" class="form-control" placeholder="Email" required email><br>
    <div class="alert alert-danger" *ngIf="registerForm.controls['email']?.touched && registerForm.controls['email']?.invalid">Email is required!</div>

    <input name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password" required minlength="4"><br>
    <div class="alert alert-danger" *ngIf="registerForm.controls['password']?.touched && registerForm.controls['password']?.invalid">Password is required!</div>

    <input name="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control" placeholder="Confirm Password" required><br>
    <div class="alert alert-danger" *ngIf="registerForm.controls['confirmPassword']?.touched && registerForm.controls['confirmPassword']?.invalid">Confirm password required!</div>
    <div class="alert alert-danger" *ngIf="registerForm.controls['confirmPassword']?.touched && user.password != confirmPassword">Confirm Password is not equal to password!</div>

    <button class="btn btn-primary" [disabled]="registerForm.invalid || user.password != confirmPassword">Create Account</button>
  </form>
</div>