<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    
      <a class="navbar-brand" routerLink="/">Blogs For You</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLinkActive="active" aria-current="page" routerLink="/contact-us">Contact-us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLinkActive="active" routerLink="/my-posts" aria-current="page">My Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "  routerLinkActive="active" routerLink="/my-bookmarks" aria-current="page">Bookmarked</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/login" (click)="logout()">Logout</a>
          </li>
        </ul>
        <div class="d-flex">
            <button class="btn btn-success" (click)="newPost()">New Post</button>
        </div>
        <!-- <button (click)="toggleDarkMode()">Toggle Dark Mode</button> -->
        <!-- <button class="btn btn-info" (click)="openMessages()">
          <i class="fa fa-envelope"></i>
        </button>
        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#messageBox">
          <i class="fa fa-envelope"></i>
        </button> -->
        <div class="modal fade" id="messageBox" tabindex="-1" aria-labelledby="messageBoxLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="messageBoxLabel">Messages</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div *ngFor="let message of messages">
                  <h6>{{message.senderId}}</h6>
                  <p>{{message.content}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- <label class="switch">
          <input type="checkbox" id="darkModeToggle" [(ngModel)]="darkMode" (change)="toggleDarkMode()">
          <span class="slider round"></span>
        </label> -->
        
      </div>
    </div>

 
  </nav>