 .card {
   margin-bottom: 20px;
   background-color: #ffffff;
 }

 .card-img-top {
   max-height: 200px;
   height: auto;
   object-fit: cover;
 }

 .card-body {
   background-color: rgba(237, 237, 237, 0.8);
   display: flex;
   flex-direction: column;
   position: relative;
   padding: 8px;
 }

 .dark-mode .card-body {
   background-color: #1e1e1e;
   color: #ffffff;
 }

 .card-title {
   font-size: 1.5em;
   color: #333;
 }

 .card-text {
   color: #777;
 }

 .card-title,
 .card-text {
   flex-shrink: 0;
 }

 .post-date {
   color: #c2bebe;
   font-size: 0.8em;
   position: relative;
   bottom: 10px;
   right: 10px;
 }

 .btn {
   margin-top: 10px;
 }

 .btn-icon {
   padding: 0;
   font-size: 1.5em;
   line-height: 1;
 }

 button.see-more {
   background: none !important;
   border: none;
   padding: 0 !important;
   font-family: arial, sans-serif;
   color: #069;
   text-decoration: underline;
   cursor: pointer;
   font-size: 0.8em;
 }

 @media (max-width: 768px) {
   h5.card-title {
     font-size: 1em;
   }

   p {
     font-size: 0.8em;
   }
 }

 .likes-post-date {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
 }

 .post-date {
   bottom: 15px;
   right: 5px;
 }

 .likes-text {
   font-size: 0.7em;
 }

 .btn-icon.liked {
   color: blue;
   animation: pop 0.3s ease;
 }

 .cross-icon {
   position: relative;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
 }

 .jumbotron {
   background-color: #f8f9fa;
   color: #212529;
 }

 .dark-mode .jumbotron {
   background-color: #343a40;
   color: #ffffff;
 }

 .dark-mode .card {
   background-color: #1e1e1e;
   color: #ffffff;
 }

 .dark-mode h5 {
  color: #f8f8f8; 
 }

 .small-search-button {
  max-width: 700px; 
  max-height: 50pxß;
}

.dark-mode .form-control {
  background-color: #2c2c2c;
  border-color: #3a3a3a;
  color: #c2bebe;
}

.dark-mode .fa-bookmark {
  color: #c2bebe;
}

.dark-mode .fa-thumbs-up {
  color: #c2bebe;
}

.dark-mode .h5 {
  color: #c2bebe;
}

.dark-mode .form-control::placeholder {
  color: #ffffff; 
  opacity: 1;
}

.dark-mode .sort{
  color:white;
  background-color: rgb(53, 46, 46);
}
 @keyframes pop {
   0% {
     transform: scale(1);
   }

   50% {
     transform: scale(1.2);
   }

   100% {
     transform: scale(1);
   }
 }