<app-navbar></app-navbar>
<div class="container">
  <div class="jumbotron d-flex justify-content-center p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h2 class="heading display-5 font-italic">Welcome To Blogs, {{username.name}}!</h2>
    </div>
  </div><br><br>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <input type="search" [(ngModel)]="searchText" (keyup)="search()" placeholder="Search"
            class="form-control mb-3 mr-3" />
          <mat-form-field class="small-mat-form-field">
            <mat-icon>sort</mat-icon>
            <mat-select [(value)]="selectedFilter" (selectionChange)="filter($event.value)">
              <mat-select-trigger>
                {{selectedFilter}}
                <span *ngIf="selectedFilter" class="cross-icon">
                  <mat-icon (click)="$event.stopPropagation(); clearFilter()">close</mat-icon>
                </span>
              </mat-select-trigger>
              <mat-option *ngIf="!selectedFilter || selectedFilter === 'date'" value="date">Date</mat-option>
              <mat-option *ngIf="!selectedFilter || selectedFilter === 'author'" value="author">Author</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="categoryList">
            <mat-icon>filter_list</mat-icon>
            <mat-select [(value)]="selectedCategory" (selectionChange)="filterByCategory($event.value)">
              <mat-option *ngFor="let category of categoryList" [value]="category.cname">{{category.cname}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <ng-container *ngFor="let p of filteredItems">

        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card h-100" style="cursor: pointer;" (click)="viewPost(p)">
            <img [src]="p.image" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                <p class="card-category">{{categoryMap[p.category_id]}}</p>
                <h5 class="card-title">{{p.title | titlecase}}</h5>
                <!-- <p *ngFor="let c of categoryList" [hidden]="c.id != p.category_id" class="card-category">{{c.cname}}</p>-->
                <button class="btn btn-icon" (click)="bookmarkPost(p, $event);"><i class="fa fa-bookmark"
                    style="color: grey;"></i></button>
              </div>

              <span *ngIf="!showMore[p.pid]">{{ (p.content.length > 100 ? p.content.substr(0, 100) + '...' :
                p.content)
                }}</span>
              <button class="see-more" *ngIf="!showMore[p.pid]" (click)="toggleShowMore(p.pid, $event)">See
                More</button>
              <p *ngIf="showMore[p.pid]">{{ p.content }}</p>
              <button class="see-more" *ngIf="showMore[p.pid]" (click)="toggleShowMore(p.pid, $event)">See
                Less</button>
              <div class="likes-post-date">
                <div>
                  <button class="btn btn-icon" [class.liked]="p.isLiked" (click)="likePost(p, $event);"><i
                      class="fa fa-thumbs-up"></i></button>
                  <p class="mb-0 ml-2 likes-text">{{ p.likes }} Likes</p>
                </div>
                <p class="post-date mb-0">Posted by {{p.author}} at {{ p.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>