button.see-more {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9em; ;
  }
  .align-right {
    float: right;
  } 
  